.quiz-selector {
  margin-left: 20rem;
  margin-right: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  width: 27rem;
  font-size: 1.5rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}
.dropdown {
  margin-left: 15rem;
  position: relative;
  width: fit-content;
}
.dropdown .dropdown-btn {
  padding: 10px 20px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.dropdown .dropdown-content {
  position: absolute;
  top: 110%;
  left: 0;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 95%;
}

.dropdown .dropdown-content .dropdown-content {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background: #f4f4f4;
}
#dropdownMenu {
  height: 15rem;
  overflow: scroll;
}
.dropdown li {
  cursor: pointer;
}
#submit-btn {
  margin-left: 10rem;
}
#submit-btn:hover {
  background-color: white;
  color: blue;
  margin-left: 10rem;
}
.dropdown-menu {
  width: 27rem;
  /* changed */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}
.dropdown-item {
  font-size: 1.5rem;
  color: white;
}
#dropdownMenuButton1 {
  text-transform: capitalize;
}
